<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Confirmation</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="../../assets/css/app.min.css" />
    <link
      rel="stylesheet"
      href="../../assets/bundles/izitoast/css/iziToast.min.css"
    />
    <!-- Template CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/components.css" />
    <!-- Font References-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="../../assets/css/custom.css" />
    <link rel="stylesheet" href="../../assets/css/main.min.css" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../assets/image/global/logo.svg"
    />
  </head>
  <body>
    <div class="hero">
      <h1 class="hero__title">Confirm Email Address</h1>
    </div>
    <main class="hero__main">
      <div class="account__card account__card--2">
        <img
          src="../../assets/image/global/email 1.svg"
          alt=""
          class="account__img-icon"
        />
        <h1 class="account__heading">Confirm Email Address</h1>
        <p class="account__sub-heading font-weight-600">
          We have sent a verification link to your email address
          Njokudavid601@gmail.com.
        </p>
        <p class="account__sub-heading mt-2">
          Just click on the link in your email and you are done
        </p>

        <button class="form__submit-btn">Resend Link</button>
      </div>
    </main>

    <!-- General JS Scripts -->
    <script src="../../assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="../../assets/bundles/izitoast/js/iziToast.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="../../assets/js/page/toastr.js"></script>
    <!-- Template JS File -->
    <script src="../../assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="../../assets/js/custom.js"></script>
  </body>
</html>
