<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Student Registration</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="../../assets/css/app.min.css" />
    <link
      rel="stylesheet"
      href="../../assets/bundles/izitoast/css/iziToast.min.css"
    />
    <!-- Template CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/components.css" />
    <!-- Font References-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="../../assets/css/custom.css" />
    <link rel="stylesheet" href="../../assets/css/main.min.css" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../assets/image/global/logo.svg"
    />
  </head>
  <body>
    <div class="hero">
      <h1 class="hero__title">
        Enrollment Application form for Executive Short Course.
      </h1>
    </div>
    <main class="hero__main">
      <div class="hero__card">
        <h1 class="account__heading">Create an account</h1>
        <p class="account__sub-heading">It is free and easy</p>
        <form action="">
          <div class="row">
            <div class="col-md-6 pr-lg-5">
              <div class="form__group">
                <label for="" class="form__label">First Name</label>
                <input type="text" class="form__input" required />
              </div>
            </div>
            <div class="col-md-6 pl-lg-5">
              <div class="form__group">
                <label for="" class="form__label">Last Name</label>
                <input type="text" class="form__input" required />
              </div>
            </div>
            <div class="col-md-6 pr-lg-5">
              <div class="form__group">
                <label for="" class="form__label">Mobile Number</label>
                <input type="tel" class="form__input" required />
              </div>
            </div>
            <div class="col-md-6 pl-lg-5">
              <div class="form__group">
                <label for="" class="form__label">Email</label>
                <input type="email" class="form__input" required />
              </div>
            </div>
            <div class="col-md-6 pr-lg-5">
              <div class="form__group">
                <label for="" class="form__label">Password</label>
                <input type="password" class="form__input" required />
              </div>
            </div>
            <div class="col-md-6 pl-lg-5">
              <div class="form__group">
                <label for="" class="form__label">Confirm Password</label>
                <input type="password" class="form__input" required />
              </div>
            </div>
            <div class="col-md-6 pr-lg-5">
              <div class="form__group">
                <label for="" class="form__label">Home address</label>
                <input type="text" class="form__input" required />
              </div>
            </div>
            <div class="col-md-6 pl-lg-5">
              <div class="form__group">
                <label for="" class="form__label">Choose Gender</label>
                <select name="" class="form__input" required>
                  <option value="male">Male</option>
                  <option value="female">Female</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 pr-lg-5">
              <div class="form__group">
                <label for="" class="form__label">Programme of Mode</label>
                <select name="" class="form__input" required>
                  <option value="Online">Online</option>
                </select>
              </div>
            </div>
            <div class="col-md-6 pl-lg-5">
              <div class="form__group">
                <label for="" class="form__label"
                  >Choose Programme of Application</label
                >
                <select name="" class="form__input" required>
                  <option value="Social Standards">Social Standards</option>
                  <option value="Environmental Standards">
                    Environmental Standards
                  </option>
                  <option value="Procurement Management">
                    Procurement Management
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6 pr-lg-5">
              <div class="form__group">
                <label for="" class="form__label">Choose Program Type</label>
                <select name="" class="form__input" required>
                  <option value="Online">Online</option>
                </select>
              </div>
            </div>
          </div>

          <p class="form__title">Employer’s Details.</p>

          <div class="row">
            <div class="col-md-6 pr-lg-5">
              <div class="form__group">
                <label for="" class="form__label">Name of Organization</label>
                <input type="text" class="form__input" required />
              </div>
            </div>
            <div class="col-md-6 pl-lg-5">
              <div class="form__group">
                <label for="" class="form__label"
                  >Department in Organization</label
                >
                <input type="text" class="form__input" required />
              </div>
            </div>
            <div class="col-md-6 pr-lg-5">
              <div class="form__group">
                <label for="" class="form__label"
                  >Job role in Organization</label
                >
                <input type="text" class="form__input" required />
              </div>
            </div>
            <div class="col-md-6 pl-lg-5">
              <div class="form__group">
                <label for="" class="form__label">Office Address</label>
                <input type="text" class="form__input" required />
              </div>
            </div>
            <div class="col-md-6 pr-lg-5">
              <div class="form__group">
                <label for="" class="form__label"
                  >Upload letter of Authorization</label
                >
                <input type="file" class="form__input" required />
              </div>
            </div>
          </div>
          <div class="form__group">
            <label for="submit" class="form__submit-btn form__btn-2"
              >Proceed</label
            >
            <input type="submit" class="d-none invisble" id="submit" />
          </div>
          <p class="account__sub-heading">
            Already have an account?
            <a href="#" class="text-success">Sign in</a>
          </p>
        </form>
      </div>
    </main>

    <!-- General JS Scripts -->
    <script src="../../assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="../../assets/bundles/izitoast/js/iziToast.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="../../assets/js/page/toastr.js"></script>
    <!-- Template JS File -->
    <script src="../../assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="../../assets/js/custom.js"></script>
  </body>
</html>
