<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign In | Ces-sPess</title>

    <!-- General CSS Files -->
    <link rel="stylesheet" href="../../assets/css/app.min.css" />
    <link
      rel="stylesheet"
      href="../../assets/bundles/izitoast/css/iziToast.min.css"
    />
    <!-- Template CSS -->
    <link rel="stylesheet" href="../../assets/css/style.css" />
    <link rel="stylesheet" href="../../assets/css/components.css" />
    <!-- Font References-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="../../assets/css/custom.css" />
    <link rel="stylesheet" href="../../assets/css/main.min.css" />

    <link
      rel="shortcut icon"
      type="image/x-icon"
      href="../../assets/image/global/logo.svg"
    />
  </head>
  <body>
    <div class="hero">
      <h1 class="hero__title">Sign in form for Executive Short Course.</h1>
    </div>
    <main class="hero__main">
      <div class="account__card account__card--2">
        <img
          src="../../assets/image/global/waving-hand 1.svg"
          alt=""
          class="account__img-icon"
        />
        <h1 class="account__heading">Sign In</h1>
        <p class="account__sub-heading">Explore your Dashboard</p>
        <form action="" class="form">
          <div class="form__group">
            <label for="" class="form__label">Email Address</label>
            <input type="email" class="form__input" required />
          </div>
          <div class="form__group">
            <label for="" class="form__label">Password</label>
            <input type="password" class="form__input" required />
          </div>
          <div class="form__group">
            <input type="checkbox" style="cursor: pointer" />
            <span>Keep me logged in</span>
          </div>
          <div class="form__group">
            <label for="submit" class="form__submit-btn">Login In</label>
            <input type="submit" class="d-none invisble" id="submit" />
          </div>
          <p class="account__sub-heading mb-0">
            Having trouble?
            <a href="#" class="text-success">Reset Password</a>
          </p>
          <p class="account__sub-heading">
            Don’t have an Account?
            <a href="#" class="text-success">Register</a>
          </p>
        </form>
      </div>
    </main>

    <!-- General JS Scripts -->
    <script src="../../assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="../../assets/bundles/izitoast/js/iziToast.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="../../assets/js/page/toastr.js"></script>
    <!-- Template JS File -->
    <script src="../../assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="../../assets/js/custom.js"></script>
  </body>
</html>
