<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../assets/public-css/main.min.css" />
    <title>CE-sPESS | About Us</title>
    <script
      src="https://kit.fontawesome.com/ed8b3f0a95.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <header>
      <div class="header">
        <div class="header__container">
          <div class="nav-brand">
            <a href="index.html"
              ><img
                src="../../assets/public-img/icons/logo.svg"
                alt=""
                class="nav-brand__logo"
            /></a>
          </div>
          <div class="menu-btn">
            <span class="menu-btn__burger"></span>
          </div>

          <nav class="nav">
            <ul class="menu-nav">
              <li class="menu-nav__item">
                <a href="index.html" class="menu-nav__list bar"> Home </a>
              </li>
              <li class="menu-nav__item navbar-dropdown">
                <p class="menu-nav__list"> About Us <i class="fa fa-angle-down"></i></p>
                <div class="dropdown">
                  <a href="about.html">Who we are</a>
                  <a href="instructors.html">Instructors</a>
                  <a href="director.html">Our Director</a>
                  <a href="why-study.html">Why study at CE-sPESS</a>
                </div>
              </li>
              <li class="menu-nav__item navbar-dropdown">
                <p class="menu-nav__list"> Courses <i class="fa fa-angle-down"></i> </p>
                <div class="dropdown">
                  <a href="social-standards.html">Social Standards</a>
                  <a href="procurement-management.html"
                    >Procurement Management</a
                  >
                  <a href="environmental-standards.html"
                    >Environmental Standards</a
                  >
                </div>
              </li>
              <li class="menu-nav__item navbar-dropdown">
                <p class="menu-nav__list"> Library <i class="fa fa-angle-down"></i></a>
                <div class="dropdown">
                  <a href="news-and-events.html">News and Events</a>
                  <a href="documents.html">Documents</a>
                  <a href="gallery.html">Gallery</a>
                </div>
              </li>
              <li class="menu-nav__item">
                <a href="contact.html" class="menu-nav__list bar"> Contact </a>
              </li>
              <li class="menu-nav__item">
                <a href="application.html" class="menu-nav__list secondary-btn">
                  Apply Now
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
      <div class="hero about-hero">
        <h1>We Are CE-sPESS</h1>
      </div>
    </header>

    <main>
      <section class="about">
        <div class="history-wrapper">
          <div class="history two-section">
            <div class="history__info">
              <h2>History</h2>
              <p class="history__info--text">
                The FUTO Centre of Excellence in Sustainable Procurement,
                Environmental & Social Standards is a project established in
                2019 by the National Universities Commission (NUC) in
                partnership with the World Bank to provide innovative training
                programmes not available in higher institutions in Nigeria as at
                2019. The umbrella programme is called SPESSE Project. SPESSE-
                means Sustainable Procurement, Environmental and Social
                Standards Enhancement.
              </p>
              <p class="history__info--text">
                It is designed to integrate Procurement, Environmental and
                Social Standards’ professionalization within the Nigerian public
                and private sectors to enhance sustainable development and value
                for money in public expenditure. A good procurement system puts
                into consideration the environmental and social requirements of
                the community. Hence the project is packaged to train Nigerians
                and Africans on procurement laws and processes, environmental
                standards, and social standards.
              </p>
              <p class="history__info--text">
                The implementing agencies for the project are the National
                Universities Commission (NUC), the Bureau for Public Procurement
                (BPP), the Federal Ministry of Environment (FMEnv), the Federal
                Ministry of Women Affairs (FMWA) and Centres of Excellence in
                six Nigerian universities - FUTO, FUAM, ABU, ATBU, UNIBEN, and
                UNILAG. The agencies and universities in the programme get
                performance-based payments for capacity building and
                infrastructural development (DLI - Disbursement Linked
                Indicators/Results).
              </p>
              <p class="history__info--text">
                The Centre is designed to run executive and degree courses in
                the following three programme areas that will eventually evolve
                to become departments. <br />
                • Procurement Management<br />
                • Environmental Standards <br />
                • Social Standards
              </p>
            </div>
            <div class="history__image">
              <img
                src="../../assets/public-img/Mask group.png"
                alt=""
                class="history__image--img"
              />
              <img
                src="../../assets/public-img/mask2.png"
                alt=""
                class="history__image--img"
                style="margin-top: 3rem"
              />
            </div>
          </div>
        </div>
        <div class="vision-mission-wrapper">
          <div class="vision-mission two-section">
            <div class="vision-mission__vision">
              <h2>Our Vision</h2>
              <p class="vision-mission__vision--text">
                To be a world class Centre for training and development of
                highly skilled human capital in the areas of Procurement,
                Environmental and Social Standards
              </p>
            </div>
            <div class="vision-mission__mision two-section">
              <h2>Our Mision</h2>
              <p class="vision-mission__mision--text">
                FUTO Centre of Excellence in Sustainable Procurement,
                Environmental & Social Standards (FUTO CE-sPESS) is a project
                established in 2019 by the National Universities Commission
                (NUC) in partnership with the World Bank to provide new and
                innovative training programmes currently not available in higher
                institutions in Nigeria. The primary objective of FUTO CE-sPESS
                is to provide innovative and sustainable capacity building and
                professionalization in sustainable procurement, environmental
                standards, and social standards to meet the needs of the public
                and private sectors in the country and the Africa region.
              </p>
            </div>
          </div>
        </div>
        <div class="story-wrapper">
          <div class="story">
            <h2>Our Success Story</h2>
            <p class="story__text">
              Our Courses offers a good compromise between the continuous for
              assessment favoured by some universities and the eplacesd on final
              exams by others
            </p>
            <div class="story__numbers">
              <div>
                <p>1,532</p>
                <h3>GPA4 graduates</h3>
              </div>
              <div>
                <p>500</p>
                <h3>Research</h3>
              </div>
              <div>
                <p>100</p>
                <h3>Awards</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="attention-wrapper">
          <div class="attention">
            <h2>
              The Center runs executive short and degree course in B.SC, PGD,
              M.SC & MPS.
            </h2>
            <div class="attention__small-text">
              <h4>The profile of the degree programmes are as follows:</h4>
              <ul>
                <li>Procurement Management B.Sc.; PGD; M.Sc MPS.</li>
                <li>Enviromental Standards B.Sc; PGD; M.Sc. MPS.</li>
                <li>Social Standards B.Sc; PGD; M.Sc. MPS.</li>
              </ul>
            </div>
            <button
              class="secondary-btn line-btn"
              onclick="window.location.href='application.html'"
            >
              Apply Now
            </button>
          </div>
        </div>
        <div class="courtesy-wrapper">
          <div class="courtesy">
            <h2>Our Partners</h2>
            <div class="courtesy__img-container">
              <img src="../../assets/public-img/icons/futo-logo1.svg" alt="" />
              <img
                src="../../assets/public-img/icons/worldbank-logo-11.svg"
                alt=""
              />
              <img src="../../assets/public-img/icons/nuc-logo1.svg" alt="" />
            </div>
          </div>
        </div>
      </section>
    </main>
    <footer>
      <section class="footer">
        <div class="links-wrapper">
          <div class="links">
            <div class="links__contact">
              <img
                src="../../assets/public-img/icons/logo2.svg"
                alt="FUTO CE-sPESS"
                class="footer-logo"
              />
              <a href="mailto:cespess@gmail.com">cespess@gmail.com</a>
              <a href="mailto:cespess@futo.edu.ng">cespess@futo.edu.ng</a>
              <a href="tel:+2348034743526">+234 803 474 3526</a>
              <a href="tel:+2348037097613">+234 803 709 7613</a>
              <a href="tel:+2348038194070">+234 803 819 4070</a>
            </div>
            <div class="links__quick">
              <h3>Quick Links</h3>
              <a href="index.html">Home</a>
              <a href="about.html">About Us</a>
              <a href="news-and-events.html">Library</a>
              <a href="contact.html">Contact</a>
            </div>
            <div class="links__courses">
              <h3>Courses</h3>
              <a href="procurement-management.html">Procurement Standards</a>
              <a href="social-standards.html">Social Standards</a>
              <a href="environmental-standards.html">Environmental Standards</a>
            </div>
            <div class="links__library">
              <h3>Library</h3>
              <a href="gallery.html">Gallery</a>
              <a href="documents.html">Documents</a>
              <a href="application.html">Application</a>
              <a href="#">Visit FUTO library</a>
            </div>
          </div>
        </div>
        <div class="newsletter-wrapper">
          <div class="newsletter">
            <h2 class="newsletter__text">Newsletter Signup</h2>
            <div class="newsletter__input-area">
              <input type="email" placeholder="Enter your email address" />
              <button class="secondary-btn">Apply Now</button>
            </div>
          </div>
        </div>
      </section>
    </footer>
    <script src="../../assets/js/script.js"></script>
  </body>
</html>
