.courses {
  background: #ffffff;
  border-radius: 20px;
  padding-bottom: 1.8rem;
  &__img {
    height: 100%;
    &-wrapper {
      border-radius: 20px 20px 0px 0px;
      padding: 1.8rem 1.8rem 0px 1.8rem;

      &--1 {
        background: #fff3b9;
      }
      &--2 {
        background: #d0e5fd;
      }
      &--3 {
        padding-top: 1.6rem !important;
        background: #ffc5c2;
      }
    }
  }

  &__h1 {
    font-weight: 600;
    font-size: 1.1rem;
    line-height: 24px;
    color: #000000;
  }

  &__text {
    padding: 1.5rem;
    &-main {
      font-weight: 500;
      font-size: 0.9rem;
      line-height: 18px;
      color: #666666;
    }

    &-grp {
      margin-left: 1rem;
    }
    &-secondary {
      font-weight: 600;
      font-size: 0.85rem;
      line-height: 18px;
      color: #333333;
      margin: 0;
    }
    &-sub {
      font-weight: 600;
      font-size: 0.65rem;
      line-height: 12px;
      color: #8a8787;
      margin: 0;
    }
  }

  &__program-title {
    font-weight: 600;
    font-size: 0.9rem;
    line-height: 18px;
    color: #000;
  }
  &__icon {
    font-size: 1.2rem;
    &--orange {
      color: #dbb91d;
    }
    &--blue {
      color: #3988e8;
    }
    &--red {
      color: #d40000;
    }
  }

  &__btn {
    width: 60%;
    margin: 0 18%;
  }
}

.courses-details {
  &__card {
    background: #ffffff;
    border-radius: 20px;
    padding: 0.8rem;
  }
  &__img {
    width: 100%;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    height: 15rem;
    object-fit: cover;
  }
  &__title {
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 19px;
    color: #333333;
    margin: 0;
    margin-top: 1.8rem;
  }
  &__sub-title {
    font-weight: 700;
    font-size: 0.8rem;
    line-height: 14px;
    margin: 0;
    margin-top: 0.3rem;
    color: #12a454;

    span {
      color: #66666680;
    }
  }

  &__link {
    &-box {
      margin-top: 1.8rem;
    }
    &-item {
      text-decoration: none !important;
      font-weight: 700;
      font-size: 12px;
      line-height: 14px;
      color: rgba(102, 102, 102, 0.5);

      &:hover {
        color: #12a454 !important;
      }

      &:not(:last-child) {
        margin-right: 1rem;
      }

      &--active {
        color: #000000;
        border-bottom: 2px solid #12a454;
        padding-bottom: 0.1rem;
      }
    }
  }
  &__btn {
    border-radius: 10px;
    padding: 0.1rem 1.2rem;
  }

  &__body {
    overflow-y: scroll;
    height: 40vh;
    margin-top: 1.5rem;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 1rem;
  }

  &__text {
    &-group {
      margin-top: 0.7rem;
    }
    &-title {
      font-weight: 700;
      font-size: 0.8rem;
      line-height: 14px;
      color: #000000;

      span {
        font-size: 0.65rem;
        line-height: 10px;
        color: rgba(102, 102, 102, 0.5);
      }
    }
    &-info {
      font-weight: 400;
      font-size: 0.8rem;
      line-height: 16px;
      color: #666666;
    }
  }
  &__faq {
    margin-top: 1rem;
  }

  &__modules {
    background: #ffffff;
    border-radius: 20px;
    padding: 2rem 0rem;

    &-body {
      height: 88vh;
      overflow-y: scroll;
      margin-right: 0.6rem;

      @include respond(tab-port) {
        padding: 1rem 2rem;
        height: 60vh;
        margin-right: 1rem;
      }
      @include respond(phone) {
        padding: 2rem 0rem;
        height: 80vh;
        margin-right: 0.6rem;
      }
    }

    &-item {
      padding: 0.5rem 1rem;
      margin: 0;
      cursor: pointer;
      transition: all ease-out 0.5s;
      &:hover {
        background: $color-secondary;
      }
    }
    &-btn {
      border-radius: 10px;
      padding: 0.2rem 0.4rem !important;
      font-size: 9px !important;
    }
  }
  &__trigger {
    background: #12a45426;
    width: 1rem;
    height: 1rem;
    border-radius: 100%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-out 0.5s;

    &:hover,
    &:hover &-icon {
      background: #12a454;
      color: #fff;
    }

    &-icon {
      font-size: 0.7rem;
      margin: 0;
      color: #12a454;
      margin-top: 0.1rem;
      transition: all ease-out 0.5s;
    }
  }

  &__modules-item:hover &__trigger,
  &__modules-item:hover &__trigger-icon {
    background: #12a454;
    color: #fff;
  }
}

.courses-hidden {
  display: none !important;
  visibility: hidden !important;
}
